<section class="teaser regular">
  <div class="teaser-image"></div>
  <div class="teaser-text">
    <h2 class="headline decorated">Wilkommen bei CodenameB!</h2>
    <p>
      CodenameB ist ein Rogue-like-Shoot-’em-up-Videospiel.<br />Das Spiel wurde
      von der <strong>Klasse FA22B</strong> der
      <strong>Europaschule Schulzentrum Utbremen</strong> mit der Godot Engine
      entwickelt.
    </p>
  </div>
</section>
<section class="presentation regular">
  <h2 class="headline decorated">Unser Team und Unsere Mission</h2>
  <div class="content">
    <img id="a1" alt="Fragezeichen" src="assets/icons/question-octagon.svg" />
    <h3 id="a2" class="headline">Wer wir sind</h3>
    <p id="b1">
      Die HiTec GmbH ist ein mittelgroßes IT-Systemhaus, das seit über 15 Jahren
      auf dem Markt ist und Dienstleistungen wie Consulting, Support, Wartung
      sowie IT-Systementwicklung anbietet. Das Unternehmen ist ISO/IEC 27001
      zertifiziert und hat eine spezielle Abteilung für Spieleentwicklung. Das
      aktuelle Projekt "Codename-B" wird von einem engagierten Team aus
      Softwareentwicklern und Designern durchgeführt, die bereits Erfahrung und
      Begeisterung für ähnliche Spiele haben.
    </p>
    <img
      id="c1"
      alt="Teamfoto"
      ngSrc="assets/Teamfoto.jpg"
      width="320"
      height="213.333"
      priority
    />
  </div>
  <div class="content">
    <img
      id="a1"
      alt="Glühbirne"
      ngSrc="assets/icons/lightbulb.svg"
      width="320"
      height="320"
    />
    <h3 id="a2" class="headline">Was dich erwartet</h3>
    <p id="b1">
      In "Codename-B" erwartet die Spieler eine actiongeladene
      Survival-Erfahrung, in der sie gegen endlose Horden von Gegnern kämpfen
      müssen, ähnlich wie in "Vampire Survivors". Die Spieler sammeln Power-Ups
      und Fähigkeiten, um ihren Charakter zu stärken und möglichst lange zu
      überleben. Das Ziel ist es, strategisch zu agieren und durch geschickte
      Bewegungen und Upgrades immer stärker werdende Feinde zu besiegen.
    </p>
    <img id="c1" alt="Erwartungen Grafik" src="assets/expectations.jpeg" />
  </div>
</section>
