@import "../../../assets/styles/vars";

section {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: $white;
  padding: $space-s;
  width: 30rem;

  @media screen and (max-width: $formBreak) {
    width: 100% !important;
  }

  h2 {
    padding-bottom: $space-s;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: auto;
    color: $white;

    .names {
      display: grid;
      grid-template-columns: repeat(100px, 1fr);
      gap: 0.1rem 0.5rem;

      #l_surname {
        grid-column: 1;
        grid-row: 1;
      }

      #surname {
        grid-column: 1;
        grid-row: 2;
      }

      #l_lastname {
        grid-column: 2;
        grid-row: 1;
      }

      #lastname {
        grid-column: 2;
        grid-row: 2;
      }
    }

    .email {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .passwords {
      display: grid;
      grid-template-columns: repeat(100px, 1fr);
      gap: 0.1rem 0.5rem;

      #l_password {
        grid-column: 1;
        grid-row: 1;
      }

      #password {
        grid-column: 1;
        grid-row: 2;
      }

      #l_password-repeat {
        grid-column: 2;
        grid-row: 1;
      }

      #password-repeat {
        grid-column: 2;
        grid-row: 2;
      }
    }
  }
}
