<div class="reset-password-container">
  <h2>Passwort zurücksetzen</h2>
  <form (ngSubmit)="onSubmit(resetPasswordForm)" #resetPasswordForm="ngForm">
    <div class="form-group">
      <label for="newPassword">Neues Passwort:</label>
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        class="form-control"
        [(ngModel)]="newPassword"
        #newPasswordInput="ngModel"
        required
        [pattern]="passwordPattern.source"
        minlength="8"
      />
      <div
        *ngIf="newPasswordInput.invalid && newPasswordInput.touched"
        class="error"
      >
        Gültiges Passwort eingeben (8 Zeichen, Groß- und Kleinschreibung,
        Sonderzeichen, Zahl).
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Passwort bestätigen:</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        class="form-control"
        [(ngModel)]="confirmPassword"
        #confirmPasswordInput="ngModel"
        required
        minlength="8"
      />
      <div
        *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched"
        class="error"
      >
        Passwort bestätigen.
      </div>
      <div
        *ngIf="newPassword !== confirmPassword && confirmPasswordInput.touched"
        class="error"
      >
        Passwörter stimmen nicht überein.
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="resetPasswordForm.invalid"
    >
      Bestätigen
    </button>
  </form>
</div>
