.mat-mdc-snack-bar-container {
  &.snackbar-success {
    --mdc-snackbar-container-color: #198754;
    --mat-mdc-snack-bar-button-color: #ffffff;
    --mdc-snackbar-supporting-text-color: #ffffff;
  }

  &.snackbar-warning {
    --mdc-snackbar-container-color: #ffc107;
    --mat-mdc-snack-bar-button-color: #ffffff;
    --mdc-snackbar-supporting-text-color: #0d0067;
  }

  &.snackbar-error {
    --mdc-snackbar-container-color: #dc3545;
    --mat-mdc-snack-bar-button-color: #ffffff;
    --mdc-snackbar-supporting-text-color: #ffffff;
  }
}
