// Imports
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Colors
$background: #100315;
$primaryColor: #2438b1;
$secondaryColor: #fe0097;
$white: #ffffff;
$black: #000000;
$bitcoinColor: #bf700f;
$navigationColor: #100436;

// Fonts
$smallFontSize: 0.75em;
$defaultFontSize: 1em;
$largeFontSize: 3em;
$hugeFontSize: 4em;
$headlineFontFamily: "Lato", sans-serif;
$defaultFontFamily: "Roboto", sans-serif;

// Headlines

// Spacing
$space-xs: 1rem;
$space-s: 2rem;
$space-m: 3rem;
$space-l: 5rem;
$space-xl: 7rem;

// Mediaquerys
$formBreak: 400px;
$mobile: 768px;
$tablet: 950px;
